body {
    font: 400 15px/1.8 'Monoserrat', sans-serif;
}
.row {
    padding: 100px 0;
}

nav a:link {
    color: #bf1e2d !important;
}

nav a:hover {
    color: white !important;
}

footer a:link {
    color: #bf1e2d !important;
}

footer a:hover {
    color: white !important;
}

footer a:visited {
    color: white;
}

.alt-font {
    color: #d4d3d3;
}

.alt-font h2 {
    color: white;
}

.alt-font a:link, .alt-font a:visited {
    color: #bf1e2d;
}
.bg-olddog {
    background-color: #d4d3d3;
}

.bg-olddog-alt {
    background-color: #bf1e2d;
}

.btn-olddog-gray {
    background-color: #d4d3d3;
}

.btn-olddog-red {
    background-color: #bf1e2d;
}

.navbar-brand img {
    width: 12%;
    padding:0 0;
    margin:0 0;
}

.red-border {
    border-top: 2px #bf1e2d solid;
}

.team-profile {
    border: 3px solid #bf1e2d;
}

.map {
    padding:0;
    margin: 0 0;
}


#d20-bg {
    display: block;
    position: relative;
}

#d20-bg::after {
    content: ' ';
    background: url('../img/trex.jpg');
    background-size: cover;
    opacity: 0.4;
    top: -250px;
    left: -50px;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#d20-bg a:link {
    color: #d4d3d3;
}

#d20-bg a:visited {
    color: white;
}